@import "~bootstrap/scss/bootstrap";

.content {
  max-height: 80vh;
}

.navigation-bar {
  max-width: 30%;
}

.main {
  width: 80%;
}

.main__list {
  height: 100%;
  overflow: auto;
}

.message__text {
  word-wrap: anywhere;
}

.navigation-bar__list {

}
