@import "~bootstrap/scss/bootstrap";

body {
  height: 100vh;
}

header {
  height: 70px;
}

.content {
  height: 80%;
}

.navigation-bar {
  height: auto;
  overflow: auto;
}

.icon {
  width: 15px;
}

.main {
  width: 80%;
}

.navigation-bar {
  width: 320px;
  overflow: auto;
}

.main__content {
  overflow: auto;
}

.message__text {
  word-wrap: anywhere;
}
