@import "~bootstrap/scss/bootstrap";

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: lightgary #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 17px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #8f54a0;
  border-radius: 10px;
  border: 3px none #ffffff;
}

* {
  font-family: "Segoe UI", serif;
}

body {
  height: 100%;
}

header {
  height: 70px;
}

.content {
  height: 80%;
}

.navigation-bar {
  height: 800px;
  overflow: auto;
  scroll-: thin;

}

.icon {
  width: 15px;
}

.main {
  width: 80%;
  max-height: 800px;
}

.navigation-bar {
  width: 320px;
  overflow: auto;
}

.main__content {
  overflow: auto;
}

.message__text {
  word-wrap: anywhere;
}

.border-my1 {
  border: 1px solid #D1D1D1;
  border-radius: 5px;
}

.list-group-item {
  width: auto;
}
