{% extends 'base.html.twig' %}

{% block title %}Сообщения{% endblock %}

{% block body %}
    <h1>Message index</h1>

    <div class="content container-xl">
        <div class="navigation-bar container">
            <div class="navigation-bar__header">
                {#                форма поиска по всем сообщениям#}
            </div>
            <div class="navigation-bar__list">
                {#                Карточки диалогов и каналов#}
            </div>
        </div>
        <div class="main container ms-3">
            <div class="main__header">
                <p class="main__header__name"></p>
                <div class="main__header__search">
                    {#                    форма поиска по сообщениям#}
                </div>
            </div>
            <div class="main__list">
{#                блок с сообщениями, ajax#}

            </div>
            <div class="main__content">
                {#                блок информации о канале#}
            </div>
            <div class="main__message-input">
                {#                блок ввода сообщения#}
            </div>
        </div>
    </div>

    <a href="{{ path('app_message_new') }}">Create new</a>
{% endblock %}
