<ol class="list-group">
    {% for message in dialog_messages %}
        {% if not message['isRead'] and app.user.id is not same as(message['senderId']) %}
            {% set colorClass = 'list-group-item-dark' %}
        {% else %}
            {% set colorClass = '' %}
        {% endif %}

        {% if app.user.id is same as(message['senderId']) %}
            {% set userName = 'Вы' %}
        {% else %}
            {% set userName = message['otherUserName'] %}
        {% endif %}

        <li class="message list-group-item {{ colorClass }}" >
            <div class="d-flex justify-content-between align-items-start">
                <div class="fw-bold">{{ userName }}</div>
                <span class="badge bg-info rounded-pill">{{ message['creationDate']|date('H:i:s d.m.Y') }}</span>
            </div>
            <p class="message__text">{{ message['text'] }}</p>
        </li>
    {% endfor %}
</ol>
