{% extends 'base.html.twig' %}

{% block title %}Edit Channel{% endblock %}

{% block body %}
    <div class="container mx-auto" style="max-width:550px;">
        <h1>Изменить канал</h1>
        {{ include('channel/_form.html.twig', {'button_label': 'Изменить'}) }}
        {{ include('channel/_delete_form.html.twig') }}
    </div>
{% endblock %}
