{% extends 'base.html.twig' %}

{% block title %}Поиск каналов | Мускат{% endblock %}

{% block body %}
    <div class="mx-auto" style="width: 800px;">
        <h1 class="mb-4">Найденные каналы</h1>

        {% for channel in channels %}
            {% if not channel.isPrivate %}
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title">{{ channel.name }}</h2>
                        <div>
                            {% for tag in channelPublicTags[channel.id] %}
                                <span class="badge bg-light me-1 text-black-50">{{ tag['name'] }}</span>
                            {% endfor %}
                        </div>
                        <h5 class="card-text mb-4">{{ channel.description }}</h5>
                        {% if userIsInChannel[channel.id] is not defined %}
                            <a href="{{ path('app_channel_join', {'id': channel.id, 'q': query}) }}" class="btn btn-primary">Вступить в канал</a>
                        {% else %}
                            <h5 class="text-black-50">Вы уже состоите в данном канале!</h5>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="4">Подходящих каналов не найдено!</td>
            </tr>
        {% endfor %}
    </div>
{% endblock %}
