{% extends 'base.html.twig' %}

{% block title %} Создать канал | Мускат {% endblock %}

{% block body %}
<div class="container mx-auto" style="max-width:550px;">
    <h1>Создать канал</h1>
    {{ include('channel/_form.html.twig') }}
</div>

{% endblock %}
