{% extends 'base.html.twig' %}

{% block title %} Новая ветка | Мускат {% endblock %}

{% block body %}
    <div class="container mx-auto" style="max-width:750px;">
        <h1>Создать ветку в канале {{ channel.name }}</h1>
        {{ include('branch/_form.html.twig') }}
    </div>
{% endblock %}
